html,body{
	font-size: 1em;
	font-family: "Arial";
	background-color: #fff;
	min-width: 1200px;
	padding: 0;
	margin: 0;
	
}

.wmaktion{
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #cecece;
}

.wmaktion img{
	border: 1px solid #cecece;
}

.aktivlink{
	background-color: #373028;
}

.aktivlink a{
	text-decoration: none;
	color: #d0baa3;
}

.red{
	color: #ff0000;
	font-style: italic;
}

a{
	text-decoration: underline;
	color:#432912;
}

a:hover{
	text-decoration: none;
}

.wrapper{
	width: 1200px;
	background-color: #fff;
	z-index: 1;
	margin: 0 auto;
	position: relative;
	margin-bottom: 20px;
}

h1{
	font-size: 1.5em;
	color:#373028;
	margin:0;
	padding-top:15px;
	text-align: center;
}

h2{
	font-size: 1em;
	color: #373028;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	text-align: center;
}

.bold{
	font-weight: bold;
}

.right{
	text-align: right;
}

.bordertable{
	margin: 0 auto;
	width: 100%;
}

.bordertable td{
	border:1px solid #cecece;
	text-align: center;
}

.bordertable th{
	text-align: right;
}

.title{
	font-size: 2.5em;
	color:#373028;
	font-weight: bold;
	font-style: italic;
	margin-top:5px;
	margin-bottom: 8px;
}

.titlepic{
	border:0px;
}

.cText{
	font-size: 1em;
	border:1px solid #cecece;
	outline: 0 none;
}

.cTextwidth{
	width: 80px;
}

.cTextwidthHouse{
	color:#cecece;
	text-align: right;
}

.cText:focus{
	outline: 0 none;
}

#inputFrame{
	padding: 0;
	margin: 0;
}

#inputFrame .bewohner{
	text-align: center;
	margin: 20px 0;
}

#inputFrame .bewohner ol{
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0 0 0 5px;
	
	/* IE 7 */
	zoom: 1;
    *display: inline;
}

#inputFrame .bewohner ol:first-child{
	padding-left: 0;
}

#inputFrame .bewohner ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#inputFrame .bewohner ul li{
	display: inline;
}

#inputFrame .items{
	text-align: center;
	margin-bottom: 10px;
}

#inputFrame .items ol{
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 2px;
	border: 1px solid #cecece;
	
	/* IE 7 */
	zoom: 1;
    *display: inline;
}

#inputFrame .items ol:first-child{
	padding-left: 0;
}

.floatright{
	float:right;
}

.cmd{

}

.cmd label{
	font-size: 0.8em;
	font-weight: bold;
	color:#373028;
}

.cmd ol{
	list-style: none;
	margin: 0;
	padding: 0 0 0 5px;
}

.cmd ol li{
	float:left;
	padding-left:5px;
}

.cmd ol li:first-child{
	padding-left:0px;
}

.button_2{
	height: 33px;
	cursor: pointer;
}

.button_2_left{
	float:left;
	height: 33px;
	width: 14px;
	background:url(/images/button_1_left.png);
}

.button_2_center{
	float:left;
	font-size: 0.75em;
	color:#432912;
	font-weight: bold;
	line-height: 33px;
	background:url(/images/button_1_center.png);
}

.button_2_right{
	float:left;
	height: 33px;
	width: 14px;
	background:url(/images/button_1_right.png);
}

.pkDisplay{
	border:1px solid #cecece;
	padding:10px;
	text-align: center;
	margin-top:5px;
}

.pkDisplay ol{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	
	/* IE 7 */
	zoom: 1;
    *display: inline;
}

.pkDisplay li{
	text-align: center;
}

.pkDisplay span{
	padding: 0 5px;
}

.pkDisplay a{
	float: right;
}

.pkDisplay p{
	display: block;
	font-size:1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;

}

.pkDisplayC{
	margin-bottom: 15px;
	margin-left: 15px;
	display: inline-block;
	padding:15px;
	background-color: #fff;
	color: #432912;
	border: 1px solid #cecece;	
	
	/* IE 7 */
	zoom: 1;
    *display: inline;
}

.pkDisplayC ol{
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	
	/* IE 7 */
	zoom: 1;
    *display: inline;
}

.pkDisplayC ol li{
	
}

.pkDisplayC span{
	padding: 0 5px;
}

.pkDisplayCH1{
	text-align: left;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #cecece;
}

.pkDisplayC p{
	display: block;
	font-size:1.2em;
	font-weight: bold;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	color: #373028;
}

.nav ol{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}

.nav ol>li{
	border:1px solid #cecece;
	padding: 5px;
	margin: 0 5px 0 0;
	display: inline;
}

.nav ul{
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav ul>li{
	display: inline;
	padding: 0;
	margin: 0;
}

.center{
	text-align:center;
}

.right{
	text-align:right;
}

.centertable{
	margin-left:auto; margin-right:auto;
}

.float{
	float: left;
}



.inputBetriebe{
	list-style: none;
	margin: 0;
}

.inputBetriebe li{
	display: inline;
	border:1px solid #cecece;
}

#difFrame{
	display: none;
}

#settings{
	display: none;
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #cecece;
}

#loader{
	height: 59px;
	width: 200px;
	text-align: center;
	position: absolute;
	top:0;
	right:0;
	z-index: 2;
	color:#d0baa3;
	font-size: 0.85em;
	display:none;
	background-image: url('/images/loaderbg.png'); background-repeat:no-repeat;
}

#importFrame{
	height: 200px;
	width: 500px;
	background-color: #373028;
	border:1px solid #d0baa3;
	padding:10px;
	color:#d0baa3;
	z-index: 3;
	position: absolute;
	top:200px;
	left:50%;
	margin-left:-250px;
	display: none;
}

#importFrame label,textarea{
	display: block;
}

#importFrame textarea{
	height: 100px;
	width: 498px;
	font-size: 1em;
	margin: 20px 0;
}